Source: pve-ha-manager
Section: perl
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7.0.50~), libpve-common-perl, libglib-perl, libgtk3-perl
Standards-Version: 3.8.4

Package: pve-ha-manager
Section: perl
Priority: optional
Architecture: any
Depends: ${perl:Depends}, ${misc:Depends}, libpve-common-perl, pve-cluster (>= 3.0-17)
Description: Proxmox VE HA Manager
 HA Manager Proxmox VE.
