[Unit]
Description=PVE Cluster Ressource Manager Daemon
ConditionPathExists=/usr/sbin/pve-ha-crm
Wants=pve-cluster.service
Wants=watchdog-mux.service
Wants=pvedaemon.service
After=pve-cluster.service
After=corosync.service
After=pvedaemon.service
After=watchdog-mux.service
After=syslog.service

[Service]
ExecStart=/usr/sbin/pve-ha-crm start
ExecStop=/usr/sbin/pve-ha-crm stop
PIDFile=/var/run/pve-ha-crm.pid
TimeoutStopSec=65
Type=forking

[Install]
WantedBy=multi-user.target
