[Unit]
Description=Proxmox VE watchdog multiplexer socket

[Socket]
ListenStream=/run/watchdog-mux.sock
SocketMode=0600

[Install]
WantedBy=sockets.target
